{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}style/home/show.css">
<div class="clearfix">
    {% for item in filehistory %}
      <div class="box photo col3">
        <a href="/replay/{{item.file_id}}" title="{{ item.name }}"><img src="{{ STATIC_URL }}{{item.videopreimage.file_obj}}"  /></a>
        <h4 class="title">{{ item.name }}</h4>
        <hr/>
      </div>
    {% endfor %}
</div>
{% endblock %}

