<!DOCTYPE html>
{% load dajaxice_templatetags %}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>视频分享，梦的开始</title>
    {% include 'widget/homemeta/css.html'  %}
    {% include 'widget/homemeta/javascript.html'%}
    {% dajaxice_js_import %}
  </head>
  <body >
    <div class="yk-header">
      <div class="yk-header-container">
        <div class="yk-box row">
          <div class="yk-logo"> 
            <a href="" title="Youku 优酷" attr="idx0"><img src="{{ STATIC_URL }}image/header/yklogo.png" alt="Youku 优酷" from="index"></a>
          </div>
          <div class="yk-so-box">
            <form id="qheader_search" method="get" target="_blank" onsubmit="
            ">
              <input name="q" id="headq" type="text" autocomplete="off">
              <button type="submit"><em>搜索</em></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {%comment%}
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="#">{{user.username}}</a>
      </div>
    </div>
    {% endcomment %}
    <div class="container"> 
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% include 'widget/homemeta/footer.html' %}
  </body>
</html>
