<!DOCTYPE html>
{% load dajaxice_templatetags %}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <title>视频分享，梦的开始</title>
    {% include 'widget/homemeta/css.html'  %}
    {% include 'widget/homemeta/javascript.html'%}
    {% dajaxice_js_import %}
  </head>
  <body >
    <div class="yk-header">
      <div class="yk-header-container">
        <div class="yk-box control-group">
          <div class="yk-logo"> 
          	<a href="" title="Youku 优酷" attr="idx0"><img src="{{ STATIC_URL }}image/header/yklogo.png" alt="Youku 优酷" from="index"></a>
          </div>
    			<div class="yk-header-search span4">
    				<form class="form-search">
    					<input type="text" class="input-medium search-query">
    					<button type="submit" class="btn">搜索</button>
    				</form>	
          </div>
          <div class="yk-ucenter span4">
              {% if user.is_authenticated %}
              <div class="yk-userlogin">
                  <a class="btn btn-primary" href="/normal/"><i class="icon-user icon-white"></i>{{user.username}}</a>
              </div>
              <div class="yk-userlogin">
                  <a class="btn btn-primary" href="/registration/logout"><i class="icon-remove icon-white"></i>注销</a>
              </div>   
              {% else %}
              <div class="yk-userlogin">
                  <a class="btn btn-primary" href="/registration/login"><i class="icon-user icon-white"></i>登录</a>
              </div>
              <div class="yk-userlogin">
                  <a class="btn btn-primary" href="/registration/register"><i class="icon-pencil icon-white"></i>注册</a>
              </div>         
              {% endif %}
              <div class="yk-userlogin">
                  <a class="btn btn-primary" href="{% if user.is_authenticated %} /normal/upload/ {% else %} /registration/login {% endif %}"><i class="  icon-download-alt icon-white"></i>上传</a>
              </div>
          </div>
        </div>
      </div>
    </div>
    {%comment%}
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="/normal/">{{user.username}}</a>
      </div>
    </div>
    {% endcomment %}
    <div id="bodycontent" class="container"> 
        {% block content %}{% endblock %}
  	</div>
    {% include 'widget/homemeta/footer.html' %}
  </body>
</html>
