{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
<div style="text-align:center">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="500" height="400">
		<param name="movie" value="{{STATIC_URL}}flvplayer.swf" />
		<param name="quality" value="high" />
		<param name="allowFullScreen" value="true" />
		<embed src="{{STATIC_URL}}flvplayer.swf" allowfullscreen="true" flashvars="vcastr_file=http://192.168.2.94:8000{{STATIC_URL}}{{video.file_obj}}&IsAutoPlay=1" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="960" height="540"></embed>
	</object>
</div>
{% endblock %}
