div#footer{
    text-align: center;
}
.yk-header{
    height: 60px;
    background: #f6f6f6;
}
.yk-header-container{
    z-index: 1290;
    position: relative;
    top: 0;
    width: 100%;
}

.yk-header-container .yk-box {
z-index: 2;
position: relative;
width: 1170px;
height: 60px;
margin: 0 auto;
padding: 0 10px;
}

.yk-header-container .yk-logo {
overflow: hidden;
float: left;
width: 300px;
height: 50px;
padding: 5px 0;
margin-right: 20px;
}

.yk-header .yk-so-box {
z-index: 1100;
position: relative;
width: 540px;
height: 40px;
margin-top:10px;
display:inline;
}
.yk-header .yk-so-box input{
width: 432px;
height: 40px;
}

.yk-header .yk-so-box button {
cursor: pointer;
overflow: hidden;
position: absolute;
width: 90px;
height: 40px;
margin: 0;
padding: 0;
outline: 0 none;
border: 0 none;
background-position: 0 -160px;
}

.yk-header .yk-so-box button{
    background: transparent url("{{ STATIC_URL }}image/header/header.png") no-repeat;
}

.yk-header-container .yk-so{
	float:left;
	height:100%;
}

/*body,div{*/
/*    font: 12px/20px arial, helvetica, verdana, tahoma, sans-serif;*/
/*}*/

/*.yk-header-search{*/
/*    width:600px;*/
/*    display:inline;*/
/*    position: relative;*/
/*}*/

.yk-header-search form{
	margin-top:10px;
	position: relative;
}
.yk-header-search input{
	width:250px;
}

.yk-userlogin{
	width:150px;
	display:inline;
}
.yk-ucenter{
    padding-top: 10px;
}

div#footer{
    width:100%;
	position:fixed;
	bottom:0px;
	background:#E9E7D3;
	height:50px;
    text-align:center;
}

div#bodycontent{
    margin-top:30px;
	min-height:650px;
}
